UI.WCF/Service References/WCFService/PersonManage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49556/PersonManage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49556/PersonManage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49556/PersonManage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
      <xsd:import schemaLocation="http://localhost:49556/PersonManage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MODEL.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonManage_GetAllPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonManage_GetAllPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonManage_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IPersonManage_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonManage">
    <wsdl:operation name="GetAllPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonManage/GetAllPerson" message="tns:IPersonManage_GetAllPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonManage/GetAllPersonResponse" message="tns:IPersonManage_GetAllPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonManage/Hello" message="tns:IPersonManage_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonManage/HelloResponse" message="tns:IPersonManage_Hello_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonManage" type="tns:IPersonManage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonManage/GetAllPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IPersonManage/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonManage">
    <wsdl:port name="BasicHttpBinding_IPersonManage" binding="tns:BasicHttpBinding_IPersonManage">
      <soap:address location="http://localhost:49556/PersonManage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>