UI.WCF/Service References/WCFService/PersonManage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SERVICE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SERVICE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49556/PersonManage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MODEL.Model" />
  <xs:complexType name="ArrayOfPersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDTO" nillable="true" type="tns:PersonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDTO" nillable="true" type="tns:ArrayOfPersonDTO" />
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoursesCount" type="xs:int" />
      <xs:element minOccurs="0" name="Discrimination" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnrollmentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentGradesCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MODEL.Model" minOccurs="0" name="officeAssignment" nillable="true" type="q1:OfficeAssignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
</xs:schema>