WCFClient/Service References/ServiceReference/WCFWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57668/WCFWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57668/WCFWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57668/WCFWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
      <xsd:import schemaLocation="http://localhost:57668/WCFWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MODEL.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFWebService_Msg_InputMessage">
    <wsdl:part name="parameters" element="tns:Msg" />
  </wsdl:message>
  <wsdl:message name="IWCFWebService_Msg_OutputMessage">
    <wsdl:part name="parameters" element="tns:MsgResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFWebService_PersonList_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonList" />
  </wsdl:message>
  <wsdl:message name="IWCFWebService_PersonList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFWebService">
    <wsdl:operation name="Msg">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFWebService/Msg" message="tns:IWCFWebService_Msg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFWebService/MsgResponse" message="tns:IWCFWebService_Msg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFWebService/PersonList" message="tns:IWCFWebService_PersonList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFWebService/PersonListResponse" message="tns:IWCFWebService_PersonList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFWebService" type="tns:IWCFWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Msg">
      <soap:operation soapAction="http://tempuri.org/IWCFWebService/Msg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonList">
      <soap:operation soapAction="http://tempuri.org/IWCFWebService/PersonList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFWebService">
    <wsdl:port name="BasicHttpBinding_IWCFWebService" binding="tns:BasicHttpBinding_IWCFWebService">
      <soap:address location="http://localhost:57668/WCFWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>