WCFClient/Service References/ServiceReference/WCFWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57668/WCFWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SERVICE" />
  <xs:element name="Msg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MsgResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SERVICE" minOccurs="0" name="PersonListResult" nillable="true" type="q1:ArrayOfPersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>