UI.Client/Service References/ServiceReference/ToDo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65080/ToDo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65080/ToDo.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDo_GetToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDos" />
  </wsdl:message>
  <wsdl:message name="IToDo_GetToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IToDo_AddOrUpdateToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateToDo" />
  </wsdl:message>
  <wsdl:message name="IToDo_AddOrUpdateToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDo_DeleteToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDo" />
  </wsdl:message>
  <wsdl:message name="IToDo_DeleteToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDo">
    <wsdl:operation name="GetToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDo/GetToDos" message="tns:IToDo_GetToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDo/GetToDosResponse" message="tns:IToDo_GetToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDo/AddOrUpdateToDo" message="tns:IToDo_AddOrUpdateToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDo/AddOrUpdateToDoResponse" message="tns:IToDo_AddOrUpdateToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDo/DeleteToDo" message="tns:IToDo_DeleteToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDo/DeleteToDoResponse" message="tns:IToDo_DeleteToDo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDo" type="tns:IToDo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToDos">
      <soap:operation soapAction="http://tempuri.org/IToDo/GetToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateToDo">
      <soap:operation soapAction="http://tempuri.org/IToDo/AddOrUpdateToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap:operation soapAction="http://tempuri.org/IToDo/DeleteToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDo">
    <wsdl:port name="BasicHttpBinding_IToDo" binding="tns:BasicHttpBinding_IToDo">
      <soap:address location="http://localhost:65080/ToDo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>